<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>988306846743-uemtg66n6pg5avl0pe6evm8707f5fo34.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.988306846743-uemtg66n6pg5avl0pe6evm8707f5fo34</string>
	<key>API_KEY</key>
	<string>AIzaSyAy6iap4X6nvragpvo0s_4IO3dGFo72Oew</string>
	<key>GCM_SENDER_ID</key>
	<string>988306846743</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>mediassumani.TripStop</string>
	<key>PROJECT_ID</key>
	<string>tripstop-14ba0</string>
	<key>STORAGE_BUCKET</key>
	<string>tripstop-14ba0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:988306846743:ios:f39a05bd72d409a5</string>
	<key>DATABASE_URL</key>
	<string>https://tripstop-14ba0.firebaseio.com</string>
</dict>
</plist>